################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blog/2016/quora.html
