/* Support for posters and action buttons will later be added into ZoaUI */
::selection {
    background: rgba(0,90,180,.3);
}

.doc-homePoster {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #444 url("/images/zoadoc/12.jpg") center no-repeat;
    background-size: cover;
}

.doc-homePoster__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,.25);
}

.doc-homeContent {
    position: relative;
    color: #fff;
}

.doc-homeNavbar {
    background-color: rgba(0,0,0,.1);
    color: #fff;
}

.doc-homeNavbar__nav {
    background-color: rgba(0,0,0,.19);
    border: none;
}

.doc-homeNavbar__link {
    color: #fff;
}

    .doc-homeNavbar__link:hover, .doc-homeNavbar__link:focus, .doc-homeNavbar__link.zo--active {
        background-color: rgba(0,0,0,.1);
    }

.doc-homeContent__mainTitle {
    font-size: 300%;
    margin: 1em 0 0;
}

.doc-homeAction {
    margin-top: 1.25em;
}

.doc-sideNav {
    border-right: 1px solid #ddd;
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

.doc-sideNav__item {
    margin: 0;
}

.doc-sideNav__link {
    display: block;
    padding: .5em 1em;
    color: #333;
    transition: .5s;
}

    .doc-sideNav__link:hover, .doc-sideNav__link:focus {
        background-color: #f3f3f3;
    }

    .doc-sideNav__link.zo--active {
        margin-right: -1px;
        border-right: 2px solid #444;
    }

.doc-footer {
    background: #555;
    padding: 1em 0;
    margin-top: 1.5em;
    color: #aaa;
}

.doc-footer__link {
    color: #fff;
    transition: .5s;
}

    .doc-footer__link:hover {
        box-shadow: inset 0 -1px rgba(255,255,255,.4);
    }

.doc-displayBorder {
    border: 1px solid #ccc;
    padding: .75em 1em;
    margin: 0 0 1em;
}

@media screen and (min-height:30em) {
    .doc-homeContent__mainTitle {
        font-size: 400%;
        margin-top: 1.5em;
    }
}
